# DirectoryIndex index.php
# RewriteEngine on                       
# RewriteCond $1 !^(index\.php|(.*)\.swf|forums|images|css|downloads|js|robots\.txt|favicon\.ico)
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ ./index.php?$1 [L,QSA] 



DirectoryIndex index.php
RewriteEngine On

# Allow direct access to public files (like assets)
RewriteCond %{REQUEST_URI} !^/(index\.php|login|login\.php|api|assets|css|js|images|robots\.txt|favicon\.ico)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything else to index.php
RewriteRule ^(.*)$ index.php?$1 [L,QSA]
