/* Demo styling,
 * this file will bring Demo Landing Page styles,
 * you can safely remove if you're not using any style the index.html
 */
.demo-link {
  width: 64px;
  max-width: 64px;
  -webkit-transition: max-width 0.8s ease-in-out;
  transition: max-width 0.8s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.demo-link .demo-link-text {
  opacity: 0;
  font-weight: 400;
  font-size: 0.875rem;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease 0.2s;
  transition: -webkit-transform 0.3s ease 0.2s;
  transition: transform 0.3s ease 0.2s;
  transition: transform 0.3s ease 0.2s, -webkit-transform 0.3s ease 0.2s;
}

.demo-link:hover {
  max-width: 192px;
  width: auto;
}

.demo-link:hover .demo-link-text {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.demo-blocks {
  background-color: #f1f4f8;
}

.demo-blocks .block {
  margin-bottom: 3rem;
  margin-top: 3rem;
  -webkit-box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.075);
  border: 1px solid #d9e2ef;
  border-radius: 0.25rem;
  background-color: #ffffff;
}

.preview-pane {
  padding: 0;
  height: 320px;
  text-align: center;
}

.preview-pane .preview-page {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.preview-pane .preview-page img {
  width: 100%;
  display: block;
  margin-top: 0;
}

.card-demo .card-body {
  z-index: 1;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.03);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.03);
}

.card-demo .is-new {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.count-down {
  padding-top: 30px;
  padding-bottom: 30px;
}

.count-down li {
  padding: 0 30px 0;
}

.count-down span {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 1;
  display: block;
}

.count-down p {
  margin-top: 0;
  font-weight: 300;
}

@media (min-width: md) {
  .count-down span {
    font-size: 4.5rem;
  }
}

.example-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.example-selector > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 0.5em;
  padding: 2.5em;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  border: 1px solid #d9e2ef;
}

.example-selector > li:hover {
  border-color: #5533ff;
}

.cookie-location-message {
  margin-top: 4rem;
}

.cookie-location-message ul {
  list-style: none;
  padding: 0;
}


.post-details-title {
    color: #141125;
    letter-spacing: -.04em;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Inter,sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
}

.related-post-title {
    color: #141125;
    letter-spacing: -.03em;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Inter,sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.semi-bold{
  font-weight: 500;
}

.faq-extra-bold{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
    color: #141125;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

a{
  color: black;
}

.categoty_count {
    color: #80bfff;
}

.image_down{
  font-size: 18px !important;
  color: #000 !important;
}


.fs-12{
  font-size: 12px !important;
}
.fs-13{
  font-size: 13px !important;
}
.fs-14{
  font-size: 14px !important;
}
.fs-15{
  font-size: 15px !important;
}
.fs-18{
  font-size: 18px !important;
}

.hide{
  display: none;
}

.blog-img{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.blog_details_frontf{
    font-size: 14px;
    color: #666;
}

/*/pagination/*/
ul.pagination li {
    display: inline-block;
    margin: 1px;
}

ul.pagination li a {
    background: #f1f1f1;
    padding: 10px 20px;
    color: #286efb;
    font-size: 14px;
    font-weight: 500;
    border-radius: 1px;
}

ul.pagination li a:hover {
    background:#286efb;
    color: #fff !important;
}

li.active.page-num a {
    background: #f2f2f2;
}

ul.pagination li.disabled {
    display: none;
}

.pagination>.active>a{ 
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #286efb !important;
    border-color: #514adf !important;
}
/*/pagination end/*/
/*# sourceMappingURL=demo.css.map */
